<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/shortcuticon.ico') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href = "{{ url_for('static', filename='css/looks.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Oswald:wght@200..700&family=Playwrite+IT+Moderna:wght@100..400&display=swap" rel="stylesheet">

        <title>Already Logged In</title>
    </head>
    <body class="SpecialClass">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" style="display: flex;position: fixed;width: 100%;">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item"> <img src="{{ url_for('static', filename='images/icon.png') }}" alt="ICON" style="max-height: 30px;"></li>
              <li class="nav-item">
                <a class="nav-link" href="/" style="padding-left: 35px !important;">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home">Risk Preditor <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About Us <span class="sr-only">(current)</span></a>
              </li>
            </ul> 
            <div class="ml-auto d-flex" style="gap: 20px;">
              {% if not login_Stat %}
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick= "location.href='/login'">Log In</button>
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick= "location.href='/signup'">Sign Up</button>
              {% endif %}
              {% if login_Stat%}
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick= "location.href='/profile'">Profile</button></span>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick= "location.href='/logout'">Log Out</button>
              {% endif %}
            </div>
        </div>
    </nav>

        <h2 style="color: white;display: flex;justify-content: center;font-size: 90px;padding-top: 100px;background-color: rgba(90, 81, 74, 0.3);background-clip: content-box;">You Are Successfully Logged IN</h1>
        <a href="/" style="display:flex;justify-content: right;transform: translateY(350px);padding-right: 30px;">Take Me to Home Page</a>       
     </body>
</html>